<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <!-- here you can put customized mapping -->

    <mapping stop-on-errors="false" map-null="false">

        <class-a>com.sbm.vehicle.modules.vehicle.model.Vehicle</class-a>
        <class-b>com.sbm.vehicle.modules.vehicle.dto.VehicleDto</class-b>

        <field>
            <a>countryMake.name</a>
            <b>countryMake</b>
        </field>

        <field>
            <a>newVehicleBodyType.name</a>
            <b>newVehicleBodyType</b>
        </field>

        <field>
            <a>vehicleBodyType.name</a>
            <b>vehicleBodyType</b>
        </field>

        <field>
            <a>vehicleType.name</a>
            <b>vehicleType</b>
        </field>

        <field>
            <a>vehicleCategory.name</a>
            <b>vehicleCategory</b>
        </field>

    </mapping>

</mappings>